@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    box-sizing: border-box !important;
    list-style: none !important;
}
.container_my{
    max-width: 1120px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto !important;
    margin-right: auto !important;
}
.bg_khakhi {
    /* background-color: #F6F1E3; */
    background-image: url(../img/png/background.png);
}

.border_none {
    border: none !important;
}




.slick-dots {
    display: none !important;
}

.slick-dotted.slick-slider {
    margin-bottom: 0px !important;
}

.border_bottom {
    border-bottom: 2px solid #000000;
}

.border_left {
    border-left: 2px solid #000000;
}

.under_line {
    text-decoration-line: underline !important;
}

.pointer {
    cursor: pointer;
}

.border_right {
    border-right: 2px solid #000000;
}

.border_2_black {
    border: 2px solid #000000;
}

.mx_212 {
    max-width: 212px;
}

.bg_yellow {
    background-color: #FFD600;
}

.mx_100 {
    max-width: 100px;
}

.clr_green {
    color: #00A206;
}

.clr_red {
    color: red;
}

@media (min-width:992px) {
    .border_left_lg {
        border-left: 2px solid #000000;
    }

    .mx_420 {
        max-width: 420px !important;
    }
}